svg {
  margin-inline-start: 90px;
  pointer-events: none;
}

svg path {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 0.4;
  stroke: white;
  fill: none;
  transition: stroke-dashoffset 1s;
}
