.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
  background-color: black;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 20px;
  gap: 5px;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 620px) {
  .hamburger {
    display: flex;
  }
  nav {
    display: none;
    flex-direction: column;
    padding: 0 15px 15px 15px;
    gap: 10px;
  }
  nav.open {
    display: flex;
  }
}
