.section {
  height: 100vh;
  position: relative;
  z-index: 20;
}

.next-btn {
  position: absolute;
  top: -6em;
  right: 50px;
}
@media screen and (max-width: 600px) {
  .next-btn {
    top: -5rem;
    right: 2rem;
  }
}
