.section {
  position: relative;
  z-index: 20;
  padding: 80px 20px;
}

/* Mobile Configuration */
@media screen and (max-width: 480px) {
  .section {
    padding: 60px 15px;
  }
}

/* Tablet Configuration */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .section {
    padding: 70px 20px;
  }
}
